<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2184.v0b_358b_953e69"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2184.v0b_358b_953e69">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3883.vb_3ff2a_e3eea_f">
    <script>pipeline {
   agent {label &apos;agent1&apos;}

    stages {
        stage(&apos;CHECKOUT&apos;) {
            steps {
               echo &quot;Getting Project from Git&quot;; 
                git branch: &quot;main&quot;, 
                    url: &quot;https://github.com/raniabns/ski-devops.git&quot;
                    //credentialsId: &quot;git-jenkins-credentials&quot;; 
            }
        }
         stage(&apos;Build Artifact&apos;) {
            steps {
                sh &apos;mvn package -DskipTests&apos;
               
                
            }
        }
         stage(&apos;Build Docker image&apos;) {
            steps {
                sh &apos;docker build -app-container .&apos;
               
                
            }
        }
        
        stage(&apos;SonarCloud analysis&apos;) {
            steps {
                // Analyse du code avec SonarCloud
                
                        sh &apos;mvn verify sonar:sonar -Dsonar.organization=ski-station-devops -Dsonar.host.url=https://sonarcloud.io -Dsonar.token=16aadcafad9e921cf0c36411e78a98c02a03777a&apos;
                }
                
            }
    }
    }

 


</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>